<div class="footer-section pt-15 pt-lg-25 pb-lg-21 dark-mode-texts bg-blackish-blue border-top border-gray-3">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-3 col-md-4">
        <div class="footer-logo mb-11">
          <%= image_tag "image/OAHero-logo-footer.png" %>
        </div>
        <p class="gr-text-11">Your ultimate sourcing companion!</p>
        <ul class="social-icons py-7 list-unstyled mb-7 mb-lg-0">
          <li class="mr-2"><a href="" class="text-storm gr-hover-text-green"><i class="icon icon-logo-twitter"></i></a></li>
          <li class="mr-2"><a href="" class="text-storm gr-hover-text-green"><i class="icon icon-logo-facebook"></i></a></li>
          <li class="mr-2"><a href="" class="text-storm gr-hover-text-green"><i class="icon icon-instant-camera-2"></i></a></li>
          <li class="mr-2"><a href="" class="text-storm gr-hover-text-green"><i class="icon icon-logo-linkedin"></i></a></li>
        </ul>
      </div>
      <!--        <div class="col-lg-8 offset-lg-1 col-md-8">-->
      <!--          <div class="row">-->
      <!--            <div class="col-xs-6 col-lg-3">-->
      <!--              <div class="single-footer mb-13 mb-lg-9">-->
      <!--                <p class="footer-title gr-text-11 mb-7">Company</p>-->
      <!--                <ul class="footer-list list-unstyled gr-text-9">-->
      <!--                  <li class="py-2"><a href="" class="gr-text-color gr-hover-text-green">About us</a></li>-->
      <!--                  <li class="py-2"><a href="" class="gr-text-color gr-hover-text-green">Contact us</a></li>-->
      <!--                </ul>-->
      <!--              </div>-->
      <!--            </div>-->
      <!--            <div class="col-xs-6 col-lg-3">-->
      <!--              <div class="single-footer mb-13 mb-lg-9">-->
      <!--                <p class="footer-title gr-text-11 mb-7">Product</p>-->
      <!--                <ul class="footer-list list-unstyled gr-text-9">-->
      <!--                  <li class="py-2"><a href="" class="gr-text-color gr-hover-text-green">FAQ</a></li>-->
      <!--                  <li class="py-2"><a href="https://discord.gg/jcxYbBKaku" class="gr-text-color gr-hover-text-green">Support</a></li>-->
      <!--                </ul>-->
      <!--              </div>-->
      <!--            </div>-->
      <!--            <div class="col-xs-6 col-lg-3">-->
      <!--              <div class="single-footer mb-13 mb-lg-9">-->
      <!--                <p class="footer-title gr-text-11 mb-7">Legal</p>-->
      <!--                <ul class="footer-list list-unstyled gr-text-9">-->
      <!--                  <li class="py-2"><a href="" class="gr-text-color gr-hover-text-green">Privacy Policy</a></li>-->
      <!--                  <li class="py-2"><a href="" class="gr-text-color gr-hover-text-green">Terms &amp; Conditions</a></li>-->
      <!--                  <li class="py-2"><a href="" class="gr-text-color gr-hover-text-green">Return Policy</a></li>-->
      <!--                </ul>-->
      <!--              </div>-->
      <!--            </div>-->
      <!--          </div>-->
      <!--        </div>-->
      <!--<!--<div class="col-lg-8 offset-lg-1 col-md-8">-->
      <!--<!--          <div class="row">-->
      <!--<!--            <div class="col-xs-6 col-lg-3">-->
      <!--<!--              <div class="single-footer mb-13 mb-lg-9">-->
      <!--<!--                <p class="footer-title gr-text-11 mb-7">Company</p>-->
      <!--<!--                <ul class="footer-list list-unstyled gr-text-9">-->
      <!--<!--                  <li class="py-2"><a href="" class="gr-text-color gr-hover-text-green">About us</a></li>-->
      <!--<!--                  <li class="py-2"><a href="" class="gr-text-color gr-hover-text-green">Contact us</a></li>-->
      <!--<!--                </ul>-->
      <!--<!--              </div>-->
      <!--<!--            </div>-->
      <!--<!--            <div class="col-xs-6 col-lg-3">-->
      <!--<!--              <div class="single-footer mb-13 mb-lg-9">-->
      <!--<!--                <p class="footer-title gr-text-11 mb-7">Product</p>-->
      <!--<!--                <ul class="footer-list list-unstyled gr-text-9">-->
      <!--<!--                  <li class="py-2"><a href="" class="gr-text-color gr-hover-text-green">FAQ</a></li>-->
      <!--<!--                  <li class="py-2"><a href="https://discord.gg/jcxYbBKaku" class="gr-text-color gr-hover-text-green">Support</a></li>-->
      <!--<!--                </ul>-->
      <!--<!--              </div>-->
      <!--<!--            </div>-->
      <!--<!--            <div class="col-xs-6 col-lg-3">-->
      <!--<!--              <div class="single-footer mb-13 mb-lg-9">-->
      <!--<!--                <p class="footer-title gr-text-11 mb-7">Legal</p>-->
      <!--<!--                <ul class="footer-list list-unstyled gr-text-9">-->
      <!--<!--                  <li class="py-2"><a href="" class="gr-text-color gr-hover-text-green">Privacy Policy</a></li>-->
      <!--<!--                  <li class="py-2"><a href="" class="gr-text-color gr-hover-text-green">Terms &amp; Conditions</a></li>-->
      <!--<!--                  <li class="py-2"><a href="" class="gr-text-color gr-hover-text-green">Return Policy</a></li>-->
      <!--<!--                </ul>-->
      <!--<!--              </div>-->
      <!--<!--            </div>-->
      <!--<!--          </div>-->
      <!--<!--        </div>
          </div>
        </div>
      </div>
    </div>
