<header class="site-header site-header--menu-left site-header--absolute">
  <div class="container">
    <nav class="navbar site-navbar offcanvas-active navbar-expand-lg  px-0">
      <!-- Brand Logo-->
      <div class="brand-logo"><a href="https://oahero.com">
        <!-- light version logo (logo must be black)-->
        <%#= image_tag "image/OAHero-logo-light.png", alt: "Logo" %>
        <!-- Dark version logo (logo must be White)-->
        <%= image_tag "image/OAHero-logo-dark.png", class: "dark-version-logo" %>
      </a>
      </div>

      <div class="collapse navbar-collapse" id="mobile-menu">
        <div class="navbar-nav-wrapper">
          <ul class="navbar-nav main-menu pt-8">
            <li class="nav-item">
              <a class="nav-link" href="https://www.oahero.com/" role="button" aria-expanded="false">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#features" role="button" aria-expanded="false">Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#pricing" role="button" aria-expanded="false">Pricing</a>
            </li>
            <!--              <li class="nav-item">-->
            <!--                <a class="nav-link" href="https://uxtheme.net/product-support/" role="button" aria-expanded="false">FAQ</a>-->
            <!--              </li>-->
            <li class="nav-item">
              <a class="nav-link" href="https://g.fbamogul.com/support-server" role="button" aria-expanded="false", target="_blank">Support</a>
            </li>
          </ul>
        </div>

        <div class="ml-auto d-flex align-items-center pt-8">
          <% if user_signed_in? %>

            <%= link_to 'Dashboard', dashboard_path,
                        class: "btn btn-sm btn-outline-light rounded-8 gr-hover-y mr-3" %>

            <%= button_to 'Logout', destroy_user_session_path,
                          method: :delete,
                          class: "btn btn-sm btn-red rounded-8 gr-hover-y" %>
          <% else %>
            <%= link_to 'Login', new_user_session_path,
                        class: "btn btn-sm btn-primary rounded-8 gr-hover-y" %>
          <% end %>
        </div>
    </nav>
  </div>
</header>
