<%= render "shared/header" %>;

<div class="position-relative bg-default-2 bg-pattern pattern-2 pt-27 pt-lg-32 pb-15 pb-lg-27">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-12 col-md-12 col-lg-12 col-xl-6 order-lg-1" data-aos="fade-right" data-aos-duration="500" data-aos-once="true">
        <div class="hero-content mt-11 mt-lg-0">
          <h1 class="text-3xl font-bold text-center mb-6">Retailer List</h1>
        </div>
        <div class="max-h-[500px] overflow-y-auto border rounded-lg shadow">
          <div class="max-h-96 overflow-y-auto border border-gray-700 rounded-lg shadow bg-gray-800" style="max-height: 400px; overflow-y: auto;">
            <ul class="divide-y divide-gray-200 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 list-none" style="list-style: none;">
              <li class="py-2 px-4">24-7 Games</li>
              <li class="py-2 px-4">365 Games</li>
              <li class="py-2 px-4">7 Day Shop</li>
              <li class="py-2 px-4">A Place For Everything</li>
              <li class="py-2 px-4">AO</li>
              <li class="py-2 px-4">Active Care Store</li>
              <li class="py-2 px-4">Adel Professional Hair &amp; Beauty</li>
              <li class="py-2 px-4">Adidas</li>
              <li class="py-2 px-4">Advanced Mp3 Players</li>
              <li class="py-2 px-4">Affordable Nutrition</li>
              <li class="py-2 px-4">After Noah</li>
              <li class="py-2 px-4">Aldi</li>
              <li class="py-2 px-4">Aldi Groceries</li>
              <li class="py-2 px-4">Alfresia</li>
              <li class="py-2 px-4">Alive And Dirty</li>
              <li class="py-2 px-4">All Beauty</li>
              <li class="py-2 px-4">All Star Health</li>
              <li class="py-2 px-4">Alliance Online</li>
              <li class="py-2 px-4">Amara</li>
              <li class="py-2 px-4">Amazon</li>
              <li class="py-2 px-4">American Golf</li>
              <li class="py-2 px-4">Amos</li>
              <li class="py-2 px-4">Angling</li>
              <li class="py-2 px-4">Animed</li>
              <li class="py-2 px-4">Aosom</li>
              <li class="py-2 px-4">Approved Food</li>
              <li class="py-2 px-4">Arco</li>
              <li class="py-2 px-4">Argos</li>
              <li class="py-2 px-4">Argosy Toys</li>
              <li class="py-2 px-4">Asda</li>
              <li class="py-2 px-4">Asda Groceries</li>
              <li class="py-2 px-4">Ask Direct</li>
              <li class="py-2 px-4">Asos</li>
              <li class="py-2 px-4">Aston and Fincher</li>
              <li class="py-2 px-4">Auna</li>
              <li class="py-2 px-4">Austins</li>
              <li class="py-2 px-4">Austins Store</li>
              <li class="py-2 px-4">B&amp;M</li>
              <li class="py-2 px-4">B&amp;Q</li>
              <li class="py-2 px-4">Baababy</li>
              <li class="py-2 px-4">Baby Birds</li>
              <li class="py-2 px-4">Baby Central</li>
              <li class="py-2 px-4">Baby Planet</li>
              <li class="py-2 px-4">Babys Mart</li>
              <li class="py-2 px-4">Barber Blade</li>
              <li class="py-2 px-4">Bargain Fox</li>
              <li class="py-2 px-4">Bargain Max</li>
              <li class="py-2 px-4">Barnitts</li>
              <li class="py-2 px-4">Base</li>
              <li class="py-2 px-4">Bath and Unwind</li>
              <li class="py-2 px-4">Beanie Games</li>
              <li class="py-2 px-4">Beaufort Ink</li>
              <li class="py-2 px-4">Beautizone</li>
              <li class="py-2 px-4">Beauty Base</li>
              <li class="py-2 px-4">Beauty Bay</li>
              <li class="py-2 px-4">Beauty Boat</li>
              <li class="py-2 px-4">Beauty Expert</li>
              <li class="py-2 px-4">Beauty Flash</li>
              <li class="py-2 px-4">Beauty Kick</li>
              <li class="py-2 px-4">Beauty Kit</li>
              <li class="py-2 px-4">Beauty Outlet</li>
              <li class="py-2 px-4">Beauty Pie</li>
              <li class="py-2 px-4">Beauty Scent</li>
              <li class="py-2 px-4">Beauty the Shop</li>
              <li class="py-2 px-4">BeautyCos</li>
              <li class="py-2 px-4">Beautylish</li>
              <li class="py-2 px-4">Beserk</li>
              <li class="py-2 px-4">Better Vits</li>
              <li class="py-2 px-4">Beyond Beautiful</li>
              <li class="py-2 px-4">Bhl</li>
              <li class="py-2 px-4">Big Green Smile</li>
              <li class="py-2 px-4">Bitiba</li>
              <li class="py-2 px-4">Bits And Pieces</li>
              <li class="py-2 px-4">Bladons</li>
              <li class="py-2 px-4">Blond Hair &amp; Beauty</li>
              <li class="py-2 px-4">Body Care</li>
              <li class="py-2 px-4">Body Shop</li>
              <li class="py-2 px-4">Bodykind</li>
              <li class="py-2 px-4">Books2door</li>
              <li class="py-2 px-4">Boots</li>
              <li class="py-2 px-4">Bosch</li>
              <li class="py-2 px-4">Box</li>
              <li class="py-2 px-4">Box of Color</li>
              <li class="py-2 px-4">Boxset and Chill</li>
              <li class="py-2 px-4">Brand Interiors</li>
              <li class="py-2 px-4">Brand Listry</li>
              <li class="py-2 px-4">BrandAlley</li>
              <li class="py-2 px-4">Branded Beauty</li>
              <li class="py-2 px-4">Brantano</li>
              <li class="py-2 px-4">Bricks Direct</li>
              <li class="py-2 px-4">Brown Thomas</li>
              <li class="py-2 px-4">Build A Bear</li>
              <li class="py-2 px-4">Build and Plumb</li>
              <li class="py-2 px-4">Builder Depot</li>
              <li class="py-2 px-4">Buy Games</li>
              <li class="py-2 px-4">Buys Best</li>
              <li class="py-2 px-4">Buzz Retail</li>
              <li class="py-2 px-4">Byrokko</li>
              <li class="py-2 px-4">C.W Sellors</li>
              <li class="py-2 px-4">CJS CD Keys</li>
              <li class="py-2 px-4">CM Pop</li>
              <li class="py-2 px-4">CM hair and beauty</li>
              <li class="py-2 px-4">CPC</li>
              <li class="py-2 px-4">CW Sellors</li>
              <li class="py-2 px-4">Cake Craft Co.</li>
              <li class="py-2 px-4">Calendar Club</li>
              <li class="py-2 px-4">Camera In The Post</li>
              <li class="py-2 px-4">Campus Gifts</li>
              <li class="py-2 px-4">Capital Hair</li>
              <li class="py-2 px-4">Care to Beauty</li>
              <li class="py-2 px-4">Cartridge People</li>
              <li class="py-2 px-4">Cartwright Fitnes</li>
              <li class="py-2 px-4">Cassart</li>
              <li class="py-2 px-4">Catering Appliances UK</li>
              <li class="py-2 px-4">Cazaar</li>
              <li class="py-2 px-4">Central Sports</li>
              <li class="py-2 px-4">Chaoscards</li>
              <li class="py-2 px-4">Charlies</li>
              <li class="py-2 px-4">Charlotte</li>
              <li class="py-2 px-4">Charlotte Tilbury</li>
              <li class="py-2 px-4">Chemist 4 U</li>
              <li class="py-2 px-4">Chemist Connect</li>
              <li class="py-2 px-4">Chemist Direct</li>
              <li class="py-2 px-4">Chemist4U</li>
              <li class="py-2 px-4">Choice Furniture</li>
              <li class="py-2 px-4">Chris and Sons</li>
              <li class="py-2 px-4">City Beach</li>
              <li class="py-2 px-4">City Electrical Factors</li>
              <li class="py-2 px-4">Clear Chemist</li>
              <li class="py-2 px-4">Clifton Cameras</li>
              <li class="py-2 px-4">Cocooncenter</li>
              <li class="py-2 px-4">Coffeesup</li>
              <li class="py-2 px-4">Coggles</li>
              <li class="py-2 px-4">Colore Science</li>
              <li class="py-2 px-4">Comics and Cocktails</li>
              <li class="py-2 px-4">Comms-Express</li>
              <li class="py-2 px-4">Concept</li>
              <li class="py-2 px-4">Connox</li>
              <li class="py-2 px-4">Cooksmill</li>
              <li class="py-2 px-4">Cool Blades</li>
              <li class="py-2 px-4">Coolshop</li>
              <li class="py-2 px-4">Coopers</li>
              <li class="py-2 px-4">Cosmeterie</li>
              <li class="py-2 px-4">Cosmetify</li>
              <li class="py-2 px-4">Cosmetis</li>
              <li class="py-2 px-4">Cosmetize</li>
              <li class="py-2 px-4">Costco</li>
              <li class="py-2 px-4">Costway</li>
              <li class="py-2 px-4">Crampton</li>
              <li class="py-2 px-4">Crossling</li>
              <li class="py-2 px-4">Cult Beauty</li>
              <li class="py-2 px-4">Cultpens</li>
              <li class="py-2 px-4">Currys</li>
              <li class="py-2 px-4">DJ Collectibles</li>
              <li class="py-2 px-4">Debenhams</li>
              <li class="py-2 px-4">Decathlon</li>
              <li class="py-2 px-4">Delgirl Beauty</li>
              <li class="py-2 px-4">Delonghi</li>
              <li class="py-2 px-4">Dennis Williams Hair and Beauty Supplies</li>
              <li class="py-2 px-4">Dermal Sense</li>
              <li class="py-2 px-4">Direct Asda</li>
              <li class="py-2 px-4">Direct Badminton</li>
              <li class="py-2 px-4">Direct Cosmetics</li>
              <li class="py-2 px-4">Direct Golf</li>
              <li class="py-2 px-4">Direct Hairdressing Scissors</li>
              <li class="py-2 px-4">Direct Soccer</li>
              <li class="py-2 px-4">Direct4pet</li>
              <li class="py-2 px-4">Discount Golf</li>
              <li class="py-2 px-4">Discount Leisure Products</li>
              <li class="py-2 px-4">Discount Pet</li>
              <li class="py-2 px-4">Discount Supplies</li>
              <li class="py-2 px-4">Disney</li>
              <li class="py-2 px-4">Dolphin Fitness</li>
              <li class="py-2 px-4">Downtown</li>
              <li class="py-2 px-4">Dr. Adams Laboratories</li>
              <li class="py-2 px-4">Drink Stuff</li>
              <li class="py-2 px-4">Drink Supermarket</li>
              <li class="py-2 px-4">Dunelm</li>
              <li class="py-2 px-4">Duracell</li>
              <li class="py-2 px-4">E-Infinity</li>
              <li class="py-2 px-4">EE Store</li>
              <li class="py-2 px-4">EMP</li>
              <li class="py-2 px-4">Early Learning Centre</li>
              <li class="py-2 px-4">Easypara</li>
              <li class="py-2 px-4">Ebuyer</li>
              <li class="py-2 px-4">Ecco-Verde</li>
              <li class="py-2 px-4">Eclispe Cards</li>
              <li class="py-2 px-4">Ecook</li>
              <li class="py-2 px-4">Edwardes</li>
              <li class="py-2 px-4">Elc</li>
              <li class="py-2 px-4">Electrical Discount Uk</li>
              <li class="py-2 px-4">Electricalsonline</li>
              <li class="py-2 px-4">Elf Cosmetics</li>
              <li class="py-2 px-4">Ellisons</li>
              <li class="py-2 px-4">End Clothing</li>
              <li class="py-2 px-4">Engo Direct</li>
              <li class="py-2 px-4">Escentual</li>
              <li class="py-2 px-4">Esedirect</li>
              <li class="py-2 px-4">Ethical Superstore</li>
              <li class="py-2 px-4">Euro Office</li>
              <li class="py-2 px-4">Evans Cycle</li>
              <li class="py-2 px-4">Every Health (Nestle Health)</li>
              <li class="py-2 px-4">Express Chemist</li>
              <li class="py-2 px-4">FHW</li>
              <li class="py-2 px-4">FLawlessBody</li>
              <li class="py-2 px-4">FRMODA</li>
              <li class="py-2 px-4">Face the Future</li>
              <li class="py-2 px-4">Faith Jewellers</li>
              <li class="py-2 px-4">Farnell</li>
              <li class="py-2 px-4">Feel Unique</li>
              <li class="py-2 px-4">FentyBeauty</li>
              <li class="py-2 px-4">Fenwick</li>
              <li class="py-2 px-4">Festive Lights</li>
              <li class="py-2 px-4">Firestormgames</li>
              <li class="py-2 px-4">First Aid 4 Sport</li>
              <li class="py-2 px-4">Flannels</li>
              <li class="py-2 px-4">Fleurtations</li>
              <li class="py-2 px-4">Floormart</li>
              <li class="py-2 px-4">Foot Locker</li>
              <li class="py-2 px-4">Forbidden Planet</li>
              <li class="py-2 px-4">Fortnum &amp; Mason</li>
              <li class="py-2 px-4">Foxy Lots</li>
              <li class="py-2 px-4">Fragrance Direct</li>
              <li class="py-2 px-4">Fragrance House</li>
              <li class="py-2 px-4">Fragrance Shop</li>
              <li class="py-2 px-4">Fragrance X</li>
              <li class="py-2 px-4">Franklins online</li>
              <li class="py-2 px-4">Freemans</li>
              <li class="py-2 px-4">Fuel For Fans</li>
              <li class="py-2 px-4">Fun</li>
              <li class="py-2 px-4">Funko Europe</li>
              <li class="py-2 px-4">GPL Shop</li>
              <li class="py-2 px-4">Gadget Station</li>
              <li class="py-2 px-4">Game</li>
              <li class="py-2 px-4">Gamers at Hart</li>
              <li class="py-2 px-4">Garden Hire Spares</li>
              <li class="py-2 px-4">Geek Garage</li>
              <li class="py-2 px-4">George</li>
              <li class="py-2 px-4">Gerald Giles</li>
              <li class="py-2 px-4">Get Ready Comics</li>
              <li class="py-2 px-4">Global Freaks</li>
              <li class="py-2 px-4">Glow</li>
              <li class="py-2 px-4">Golf Online</li>
              <li class="py-2 px-4">Gopro</li>
              <li class="py-2 px-4">Gordons Direct</li>
              <li class="py-2 px-4">Gorg</li>
              <li class="py-2 px-4">Guru Makeup Emporium</li>
              <li class="py-2 px-4">HQ Hair</li>
              <li class="py-2 px-4">HWS Beauty</li>
              <li class="py-2 px-4">Hair Supermarket</li>
              <li class="py-2 px-4">Halfords</li>
              <li class="py-2 px-4">Hamleys</li>
              <li class="py-2 px-4">Harrisons</li>
              <li class="py-2 px-4">Harrods</li>
              <li class="py-2 px-4">Hdew Cameras</li>
              <li class="py-2 px-4">Healf</li>
              <li class="py-2 px-4">Hit</li>
              <li class="py-2 px-4">Hive</li>
              <li class="py-2 px-4">Hobbycraft</li>
              <li class="py-2 px-4">Hogiesonline</li>
              <li class="py-2 px-4">Holland &amp; Barrett</li>
              <li class="py-2 px-4">Home Essentials</li>
              <li class="py-2 px-4">HomeBargains</li>
              <li class="py-2 px-4">Homebase</li>
              <li class="py-2 px-4">Honey on the Hill</li>
              <li class="py-2 px-4">HotGolf</li>
              <li class="py-2 px-4">House of Fraser</li>
              <li class="py-2 px-4">Howleys Toys</li>
              <li class="py-2 px-4">Hyperdrug</li>
              <li class="py-2 px-4">ITS</li>
              <li class="py-2 px-4">Iafstore</li>
              <li class="py-2 px-4">Iceland</li>
              <li class="py-2 px-4">Iconic London</li>
              <li class="py-2 px-4">Ideal World</li>
              <li class="py-2 px-4">Ikea</li>
              <li class="py-2 px-4">In Demand Toys</li>
              <li class="py-2 px-4">In-Excess</li>
              <li class="py-2 px-4">Iwoot</li>
              <li class="py-2 px-4">J.C Campbell Electrics</li>
              <li class="py-2 px-4">JD Williams</li>
              <li class="py-2 px-4">Japan Figure</li>
              <li class="py-2 px-4">Japan With Love Store</li>
              <li class="py-2 px-4">Japan2UK</li>
              <li class="py-2 px-4">Japanese Taste</li>
              <li class="py-2 px-4">Jarrolds</li>
              <li class="py-2 px-4">Jdsports</li>
              <li class="py-2 px-4">Jdwill</li>
              <li class="py-2 px-4">Jellycat Official Store</li>
              <li class="py-2 px-4">Jeremys Home Store</li>
              <li class="py-2 px-4">Jigsawsuk</li>
              <li class="py-2 px-4">John Lewis</li>
              <li class="py-2 px-4">Jojo Maman Bebe</li>
              <li class="py-2 px-4">Jollyes</li>
              <li class="py-2 px-4">Just Hype</li>
              <li class="py-2 px-4">JustMyLook</li>
              <li class="py-2 px-4">Kapowtoys</li>
              <li class="py-2 px-4">Kate's Clothing</li>
              <li class="py-2 px-4">Keen Gardener</li>
              <li class="py-2 px-4">Kelvin Power Tools</li>
              <li class="py-2 px-4">Kenco Spares</li>
              <li class="py-2 px-4">Kenwood Chef Restore</li>
              <li class="py-2 px-4">Kerrison Toys</li>
              <li class="py-2 px-4">Kettle and Toaster Man</li>
              <li class="py-2 px-4">Kiddies Kingdom</li>
              <li class="py-2 px-4">Kids Stuff Toys</li>
              <li class="py-2 px-4">Kidultverse</li>
              <li class="py-2 px-4">Kidzbuzzz</li>
              <li class="py-2 px-4">Kiehl's</li>
              <li class="py-2 px-4">Kikatek</li>
              <li class="py-2 px-4">Kitlocker</li>
              <li class="py-2 px-4">Kitsch</li>
              <li class="py-2 px-4">Kiyo beauty</li>
              <li class="py-2 px-4">Kleinfeld</li>
              <li class="py-2 px-4">KlipShop</li>
              <li class="py-2 px-4">Kryolan</li>
              <li class="py-2 px-4">L&amp;S Engineers</li>
              <li class="py-2 px-4">Lamps2udirect</li>
              <li class="py-2 px-4">Lancome</li>
              <li class="py-2 px-4">Landyschemist</li>
              <li class="py-2 px-4">Latest Buy</li>
              <li class="py-2 px-4">Laura Geller</li>
              <li class="py-2 px-4">Lawson</li>
              <li class="py-2 px-4">Led Hut</li>
              <li class="py-2 px-4">Lego</li>
              <li class="py-2 px-4">Lennies</li>
              <li class="py-2 px-4">Lenovo</li>
              <li class="py-2 px-4">Lilley</li>
              <li class="py-2 px-4">Lindt</li>
              <li class="py-2 px-4">Liquorice</li>
              <li class="py-2 px-4">Lisa Angel</li>
              <li class="py-2 px-4">Little Chic</li>
              <li class="py-2 px-4">Little Whispers</li>
              <li class="py-2 px-4">Littlewoods</li>
              <li class="py-2 px-4">Liz Earle</li>
              <li class="py-2 px-4">London Loves Beauty</li>
              <li class="py-2 px-4">Longacres</li>
              <li class="py-2 px-4">Look Fantastic</li>
              <li class="py-2 px-4">Look Incredible</li>
              <li class="py-2 px-4">Lordgunbicycles</li>
              <li class="py-2 px-4">Lovell Rugby</li>
              <li class="py-2 px-4">Lovell Soccer</li>
              <li class="py-2 px-4">Lush Plushies</li>
              <li class="py-2 px-4">LuxPlus</li>
              <li class="py-2 px-4">Luxe perfumes</li>
              <li class="py-2 px-4">Luxuriouslook</li>
              <li class="py-2 px-4">Maelys</li>
              <li class="py-2 px-4">Magic Madhouse</li>
              <li class="py-2 px-4">Magpie</li>
              <li class="py-2 px-4">Maia Gifts</li>
              <li class="py-2 px-4">Maison White UK</li>
              <li class="py-2 px-4">Make Up</li>
              <li class="py-2 px-4">Mandm</li>
              <li class="py-2 px-4">Mankind</li>
              <li class="py-2 px-4">Manuka Doctor</li>
              <li class="py-2 px-4">Maplin</li>
              <li class="py-2 px-4">Maqio</li>
              <li class="py-2 px-4">Marks</li>
              <li class="py-2 px-4">Marks and Spencer</li>
              <li class="py-2 px-4">Mason Pearson</li>
              <li class="py-2 px-4">Mastertrade Electrical Supplies</li>
              <li class="py-2 px-4">MaxiCoffee</li>
              <li class="py-2 px-4">Medino</li>
              <li class="py-2 px-4">Menkind</li>
              <li class="py-2 px-4">Merlincycles</li>
              <li class="py-2 px-4">Miele</li>
              <li class="py-2 px-4">Mifarma</li>
              <li class="py-2 px-4">Molton Brown</li>
              <li class="py-2 px-4">Morrisons</li>
              <li class="py-2 px-4">Mountaindog</li>
              <li class="py-2 px-4">Mouser Electronics</li>
              <li class="py-2 px-4">Mrs Best</li>
              <li class="py-2 px-4">Muc-Off</li>
              <li class="py-2 px-4">Mukama</li>
              <li class="py-2 px-4">My Memory</li>
              <li class="py-2 px-4">My Origines</li>
              <li class="py-2 px-4">My Protein</li>
              <li class="py-2 px-4">MyNintendoStore</li>
              <li class="py-2 px-4">Myshop</li>
              <li class="py-2 px-4">N&amp;B Festool System Supplier</li>
              <li class="py-2 px-4">Natural Baby Shower</li>
              <li class="py-2 px-4">Naturisimo</li>
              <li class="py-2 px-4">Naturitas</li>
              <li class="py-2 px-4">Neal'Syard</li>
              <li class="py-2 px-4">Nerd Pop</li>
              <li class="py-2 px-4">NestGifts</li>
              <li class="py-2 px-4">Nevisport</li>
              <li class="py-2 px-4">Newitts</li>
              <li class="py-2 px-4">Next</li>
              <li class="py-2 px-4">Nike</li>
              <li class="py-2 px-4">Nisbets</li>
              <li class="py-2 px-4">No7</li>
              <li class="py-2 px-4">Noble Collection</li>
              <li class="py-2 px-4">Not Run Of The Mill</li>
              <li class="py-2 px-4">Notino</li>
              <li class="py-2 px-4">Nutrizone</li>
              <li class="py-2 px-4">Nvspharmacy</li>
              <li class="py-2 px-4">OTB Hair</li>
              <li class="py-2 px-4">OXFAM SHOP</li>
              <li class="py-2 px-4">OZZIE COLLECTABLES</li>
              <li class="py-2 px-4">Ocado</li>
              <li class="py-2 px-4">Oceans Alive</li>
              <li class="py-2 px-4">Office Shoes</li>
              <li class="py-2 px-4">Oh Feliz</li>
              <li class="py-2 px-4">Onebioshop</li>
              <li class="py-2 px-4">Online Household</li>
              <li class="py-2 px-4">Online Pound Store</li>
              <li class="py-2 px-4">Online4baby</li>
              <li class="py-2 px-4">Ooni Pizza Ovens</li>
              <li class="py-2 px-4">Optical King</li>
              <li class="py-2 px-4">Outdoor Action</li>
              <li class="py-2 px-4">PC upgrade</li>
              <li class="py-2 px-4">Pak Cosmetics</li>
              <li class="py-2 px-4">Pampa</li>
              <li class="py-2 px-4">Paper TIger</li>
              <li class="py-2 px-4">Parfumdreams</li>
              <li class="py-2 px-4">Parkc</li>
              <li class="py-2 px-4">Partmaster</li>
              <li class="py-2 px-4">Paul Edmonds</li>
              <li class="py-2 px-4">Paula's Choice</li>
              <li class="py-2 px-4">Penhaligon's</li>
              <li class="py-2 px-4">Perfume Click</li>
              <li class="py-2 px-4">Perfume Essence</li>
              <li class="py-2 px-4">Perfume Price</li>
              <li class="py-2 px-4">Perfume Scents</li>
              <li class="py-2 px-4">Perfume Shop</li>
              <li class="py-2 px-4">Perfume Warehouse</li>
              <li class="py-2 px-4">Perfume oasis</li>
              <li class="py-2 px-4">Perfume plus direct</li>
              <li class="py-2 px-4">Perfumes Club</li>
              <li class="py-2 px-4">Persona Toys</li>
              <li class="py-2 px-4">Pet Drugs Online</li>
              <li class="py-2 px-4">Pet Planet UK</li>
              <li class="py-2 px-4">Pet Shop UK</li>
              <li class="py-2 px-4">Petconnection</li>
              <li class="py-2 px-4">Petdrugs</li>
              <li class="py-2 px-4">Petplanet</li>
              <li class="py-2 px-4">Pets At Home</li>
              <li class="py-2 px-4">Petshop</li>
              <li class="py-2 px-4">Pharmacy Club</li>
              <li class="py-2 px-4">Pharmacy2u</li>
              <li class="py-2 px-4">Pharmeden</li>
              <li class="py-2 px-4">Physique</li>
              <li class="py-2 px-4">Pimoroni</li>
              <li class="py-2 px-4">Playmobil</li>
              <li class="py-2 px-4">Plaza Japan</li>
              <li class="py-2 px-4">Plush Paws</li>
              <li class="py-2 px-4">Pokemon Center</li>
              <li class="py-2 px-4">Polej</li>
              <li class="py-2 px-4">Pop Figures</li>
              <li class="py-2 px-4">Popin</li>
              <li class="py-2 px-4">Poundland</li>
              <li class="py-2 px-4">Power Discount</li>
              <li class="py-2 px-4">Power Tool mate</li>
              <li class="py-2 px-4">Powertool World</li>
              <li class="py-2 px-4">Prams and Toys</li>
              <li class="py-2 px-4">Pramworld</li>
              <li class="py-2 px-4">Precious Little One</li>
              <li class="py-2 px-4">Presto Music</li>
              <li class="py-2 px-4">Prezzybox</li>
              <li class="py-2 px-4">Pro:Direct Rugby</li>
              <li class="py-2 px-4">Probikekit</li>
              <li class="py-2 px-4">Props &amp; Replicas</li>
              <li class="py-2 px-4">Pure Adhesion</li>
              <li class="py-2 px-4">Puregusto</li>
              <li class="py-2 px-4">Qdstores</li>
              <li class="py-2 px-4">Racquet Depot UK</li>
              <li class="py-2 px-4">Range</li>
              <li class="py-2 px-4">Rarewaves</li>
              <li class="py-2 px-4">Rawlins</li>
              <li class="py-2 px-4">Razer</li>
              <li class="py-2 px-4">Redlabel outlet</li>
              <li class="py-2 px-4">Reliablemed</li>
              <li class="py-2 px-4">Revolution Beauty</li>
              <li class="py-2 px-4">Revolve</li>
              <li class="py-2 px-4">Ribble</li>
              <li class="py-2 px-4">Richer Sounds</li>
              <li class="py-2 px-4">Robert Dyas</li>
              <li class="py-2 px-4">Roov</li>
              <li class="py-2 px-4">Roys</li>
              <li class="py-2 px-4">Ryman</li>
              <li class="py-2 px-4">Ryobi</li>
              <li class="py-2 px-4">Sabina</li>
              <li class="py-2 px-4">Sainsburys</li>
              <li class="py-2 px-4">Sally Beauty</li>
              <li class="py-2 px-4">Salon Essentials</li>
              <li class="py-2 px-4">Salon Supplies</li>
              <li class="py-2 px-4">Salontotal</li>
              <li class="py-2 px-4">Sam Turner</li>
              <li class="py-2 px-4">Samsung</li>
              <li class="py-2 px-4">Sana</li>
              <li class="py-2 px-4">Sanareva</li>
              <li class="py-2 px-4">Sand and sky</li>
              <li class="py-2 px-4">Sass &amp; Belle</li>
              <li class="py-2 px-4">Savers</li>
              <li class="py-2 px-4">Scan</li>
              <li class="py-2 px-4">Scentsational</li>
              <li class="py-2 px-4">Scott Direct</li>
              <li class="py-2 px-4">Screwfix</li>
              <li class="py-2 px-4">Selfridges</li>
              <li class="py-2 px-4">Selfridges &amp; Co.</li>
              <li class="py-2 px-4">Sephora</li>
              <li class="py-2 px-4">Sephora UK</li>
              <li class="py-2 px-4">Servers Direct</li>
              <li class="py-2 px-4">Seventhdimension</li>
              <li class="py-2 px-4">Shoe in Soles</li>
              <li class="py-2 px-4">ShopDisney</li>
              <li class="py-2 px-4">Shopto</li>
              <li class="py-2 px-4">Shure Cosmetics</li>
              <li class="py-2 px-4">Sigma Sports</li>
              <li class="py-2 px-4">Silicon Connect</li>
              <li class="py-2 px-4">Simply Games</li>
              <li class="py-2 px-4">Skin Cupid</li>
              <li class="py-2 px-4">Skinsider</li>
              <li class="py-2 px-4">Skinstore</li>
              <li class="py-2 px-4">Slip</li>
              <li class="py-2 px-4">Smallkins</li>
              <li class="py-2 px-4">Smart</li>
              <li class="py-2 px-4">Smiggle</li>
              <li class="py-2 px-4">Smyths</li>
              <li class="py-2 px-4">Solmer</li>
              <li class="py-2 px-4">Sonic Direct</li>
              <li class="py-2 px-4">Space NK</li>
              <li class="py-2 px-4">Speedcubing</li>
              <li class="py-2 px-4">Sport Pursuit</li>
              <li class="py-2 px-4">Sportm</li>
              <li class="py-2 px-4">Sports Direct</li>
              <li class="py-2 px-4">Sports Shoes</li>
              <li class="py-2 px-4">Sportsball</li>
              <li class="py-2 px-4">Spot Light Oral Care</li>
              <li class="py-2 px-4">Staples</li>
              <li class="py-2 px-4">Star Action Figure</li>
              <li class="py-2 px-4">Store approved food</li>
              <li class="py-2 px-4">Stort</li>
              <li class="py-2 px-4">Strawberrynet</li>
              <li class="py-2 px-4">Stuart Plumbing</li>
              <li class="py-2 px-4">Studio</li>
              <li class="py-2 px-4">Studio Care</li>
              <li class="py-2 px-4">Stuff Uk</li>
              <li class="py-2 px-4">Stylevana</li>
              <li class="py-2 px-4">Superdrug</li>
              <li class="py-2 px-4">Sweat Band</li>
              <li class="py-2 px-4">Sweet Care</li>
              <li class="py-2 px-4">T Dimension</li>
              <li class="py-2 px-4">TJ Hughes</li>
              <li class="py-2 px-4">TK Maxx</li>
              <li class="py-2 px-4">Tap Warehouse</li>
              <li class="py-2 px-4">Tarte</li>
              <li class="py-2 px-4">Tatcha</li>
              <li class="py-2 px-4">Ted Baker</li>
              <li class="py-2 px-4">Temptation</li>
              <li class="py-2 px-4">Temptation Gifts</li>
              <li class="py-2 px-4">Tesco</li>
              <li class="py-2 px-4">The Beauty Store</li>
              <li class="py-2 px-4">The Body Shop</li>
              <li class="py-2 px-4">The Chelsea Gamer</li>
              <li class="py-2 px-4">The Craft Company</li>
              <li class="py-2 px-4">The Entertainer</li>
              <li class="py-2 px-4">The Fragrance Shop</li>
              <li class="py-2 px-4">The Fragrance Warehouse</li>
              <li class="py-2 px-4">The Game Collection</li>
              <li class="py-2 px-4">The Geek in me</li>
              <li class="py-2 px-4">The Grooming Clinic</li>
              <li class="py-2 px-4">The Highworth Emporium</li>
              <li class="py-2 px-4">The Hut</li>
              <li class="py-2 px-4">The Ordinary</li>
              <li class="py-2 px-4">The Pen Shop</li>
              <li class="py-2 px-4">The Pi hut</li>
              <li class="py-2 px-4">The Protein Works</li>
              <li class="py-2 px-4">The Range</li>
              <li class="py-2 px-4">The Veg Patch</li>
              <li class="py-2 px-4">The White Company</li>
              <li class="py-2 px-4">The Works</li>
              <li class="py-2 px-4">The skin hut</li>
              <li class="py-2 px-4">TheGamery</li>
              <li class="py-2 px-4">Themakeuparmoury</li>
              <li class="py-2 px-4">Thomann UK</li>
              <li class="py-2 px-4">Thorntons</li>
              <li class="py-2 px-4">Thorntons Table Tennis</li>
              <li class="py-2 px-4">Tickety-Boo</li>
              <li class="py-2 px-4">Tile Fix</li>
              <li class="py-2 px-4">Timeforpaws</li>
              <li class="py-2 px-4">Toni and Guy</li>
              <li class="py-2 px-4">Tonic15</li>
              <li class="py-2 px-4">Tonies</li>
              <li class="py-2 px-4">Tool Station</li>
              <li class="py-2 px-4">Tool Store Uk</li>
              <li class="py-2 px-4">Toolden</li>
              <li class="py-2 px-4">Tools</li>
              <li class="py-2 px-4">Tools Today</li>
              <li class="py-2 px-4">Tools4Trade</li>
              <li class="py-2 px-4">Topicals</li>
              <li class="py-2 px-4">Topps</li>
              <li class="py-2 px-4">Toy Street</li>
              <li class="py-2 px-4">Toys N Geek</li>
              <li class="py-2 px-4">Toys R Us</li>
              <li class="py-2 px-4">Toyshop</li>
              <li class="py-2 px-4">Toyspound</li>
              <li class="py-2 px-4">Tradeinn</li>
              <li class="py-2 px-4">Tredz</li>
              <li class="py-2 px-4">Twinings</li>
              <li class="py-2 px-4">UK Beauty Club</li>
              <li class="py-2 px-4">UK Dapper</li>
              <li class="py-2 px-4">UK Office Direct</li>
              <li class="py-2 px-4">UK Planet Tools</li>
              <li class="py-2 px-4">Unblemish</li>
              <li class="py-2 px-4">Unicorn Cards</li>
              <li class="py-2 px-4">Unineed</li>
              <li class="py-2 px-4">Very</li>
              <li class="py-2 px-4">Vet Send</li>
              <li class="py-2 px-4">VetUK</li>
              <li class="py-2 px-4">Vetshop</li>
              <li class="py-2 px-4">Victoria's Secret</li>
              <li class="py-2 px-4">Viking Direct</li>
              <li class="py-2 px-4">Viovet</li>
              <li class="py-2 px-4">Vitaminsuk</li>
              <li class="py-2 px-4">Vonhaus</li>
              <li class="py-2 px-4">W. Hamond</li>
              <li class="py-2 px-4">WHSmith</li>
              <li class="py-2 px-4">WOB</li>
              <li class="py-2 px-4">Waitrose</li>
              <li class="py-2 px-4">Waitrosepet</li>
              <li class="py-2 px-4">Water stones</li>
              <li class="py-2 px-4">WayLand Games</li>
              <li class="py-2 px-4">Wayland</li>
              <li class="py-2 px-4">Weldricks</li>
              <li class="py-2 px-4">Whitecomp</li>
              <li class="py-2 px-4">Whittard</li>
              <li class="py-2 px-4">Wickes</li>
              <li class="py-2 px-4">Wildcat</li>
              <li class="py-2 px-4">Wilko</li>
              <li class="py-2 px-4">Winfields Outdoors</li>
              <li class="py-2 px-4">Works</li>
              <li class="py-2 px-4">World of Power</li>
              <li class="py-2 px-4">Wunderbrow</li>
              <li class="py-2 px-4">Xiaomi</li>
              <li class="py-2 px-4">Xs-Stock</li>
              <li class="py-2 px-4">Yachew</li>
              <li class="py-2 px-4">Yorkshire Trading</li>
              <li class="py-2 px-4">Your Dentist Reccomends</li>
              <li class="py-2 px-4">Zakzakka</li>
              <li class="py-2 px-4">Zara</li>
              <li class="py-2 px-4">Zatu</li>
              <li class="py-2 px-4">Zavvi</li>
              <li class="py-2 px-4">Zebra Blush</li>
              <li class="py-2 px-4">Zestbeauty</li>
              <li class="py-2 px-4">Zitsticka</li>
              <li class="py-2 px-4">Zoo Plus</li>
              <li class="py-2 px-4">Zoro</li>
              <li class="py-2 px-4">carethy</li>
              <li class="py-2 px-4">dd salon supplies</li>
              <li class="py-2 px-4">hmv</li>
              <li class="py-2 px-4">iHerb</li>
              <li class="py-2 px-4">major golf direct</li>
              <li class="py-2 px-4">spartoo</li>
              <li class="py-2 px-4">toydip</li>
              <li class="py-2 px-4">wrestlingshop</li>
            </ul></div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render "shared/footer" %>;
